* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.opacity {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5));
}

/* Header */

header img {
    height: 50px;
    width: 100px;
}

header a {
    text-decoration: none;
    margin: 0 15px;
    color: #8A8A8A;
    font-size: 12px;
}

ul, li {
    display: inline-block;
    list-style-type: none;
}

#navigation-menu {
    margin-top: 20px;
}

/* Jumbotrone */


.jumbotrone {
    margin: 20px 0;
    border-radius: 10px;
    height: 500px;
    width: 100%;
}

.image-jumbo {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.container-title {
    color: white;
}

/* MAIN */

.leadership {
    margin: 0 20px;
}

.col {
    margin-top: 20px;
    border-radius: 10px;
}

.w25 {
    float: left;
    width: 25%;
    height: 400px;
}

.w50 {
    float: left;
    width: 50%;
    height: 400px;
}

.img-sidebar {
    height: 40%;
    background-position: center center;
    background-size: cover;
}
.img-left {
    background-image: url(../img/img-1.jpg);
}

.img-right {
    background-image: url(../img/img-3.jpg);
}

/* FOOTER */

footer {
    margin: 20px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
}

#red-heart {
    color: red;
}

