* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Header */

header img {
    height: 50px;
    width: 100px;
}

header a {
    text-decoration: none;
    margin: 0 15px;
    color: #8A8A8A;
    font-size: 12px;
}

ul, li {
    display: inline-block;
    list-style-type: none;
}

#navigation-menu {
    margin-top: 20px;
}

/* Jumbotrone */


.jumbotrone {
    margin: 20px 0;
    border-radius: 10px;
    height: 500px;
    width: 100%;
    
    /* TODO= REMOVE */
    /* background-color:#E0D77A; */
}

.image-jumbo {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    text-align: center;
}

/* MAIN */

.leadership {
    margin: 0 20px;
}

.col {
    margin-top: 20px;
    border-radius: 10px;
    /* padding: 0 20px; */

    /* TODO: remove*/
    background-color: darkgreen;
    height: 500px;
}

.w25 {
    float: left;
    width: 25%;
}

.w50 {
    float: left;
    width: 50%;
}

